* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #dfdfff;
}

.main-header {
  background-color: #2a2a2a;
  color: #ffff00;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2rem;
}

.calculation,.calculation-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #000;
  width: 50%;
  height: 10rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;
  text-align: center;
}

#user-input {
  width: 15rem;
  height: 2.8rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  align-items: center;
  color: #000066;
  border: 2px solid #000066;
  background-color: #ededff;
}
#user-input:focus {
 background-color: #fff;
}
.calculation 
#add-btn,
#subtract-btn,
#multiply-btn,
#divide-btn {
  border: none;
  outline: none;
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 1.5rem;
  background-color: #ff9900;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;

}

.calculation 
#add-btn:hover,
#subtract-btn:hover,
#multiply-btn:hover,
#divide-btn:hover {
  background-color: #cc7a00;
}

h2 {
  color: #000066;
}